html, body {
  margin: 0;
  height: 100%;
  font-family: "Helvetica Neue", Roboto, "Segoe UI", Arial, Helvetica, sans-serif;
}

.chat {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.chat__messages-wrap {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: flex-end;
  flex: 1 1 100%;
}

.chat__messages {
  width: 100%;
  max-height: 100%;
  flex-direction: column;
  display: flex;
  overflow-y: auto;
}

.chat__controls {
  width: 100%;
  flex-shrink: 0;
  position: relative;
  margin-bottom: 30px;
  line-height: 0;
}

.chat__send {
  position: absolute;
  width: 46px;
  height: 46px;
  bottom: 0;
  right: 0;
  z-index: 2;
}


.chat__send svg {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -14px;
  margin-left: -14px;
}

#oval{
  fill: #005DFF;
}
  
.input_size_m .input__control{
    padding-left: 16px;
}

  .textarea__wrap {
    display: inline-block;
    overflow: hidden;
    width: 100%;
    height: 100%;
}
  .textarea__box {
    border-radius: 22px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: 2px solid #d9d9d9;
    position: absolute;
    z-index: 1;
}
  .textarea__control {
    padding: 12px 44px 12px 15px;
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    color: #000;
    position: relative;
    z-index: 2;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    margin: 0;
    resize: none;
    vertical-align: top;
    font-size: 100%;
    border: 1px solid transparent;
    outline: 0;
    background: 0 0;
}
.chat__textarea {
  min-width: 200px;
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
}

.chat__message {
  margin-top: 10px;
  border-radius: 20px;
  align-self: flex-end;
  flex-shrink: 0;
  width: 100%;
  position: relative;
}

.chat__message:last-child{
  margin-bottom: 30px
}

.chat__message-text{
  border-radius: 20px;
  font-size: 14px;
  line-height: 17px;
  padding: 11px 20px 12px;
  display: inline-block;
  text-align: left;
  max-width: 80%;
  box-sizing: border-box;
  word-wrap: break-word;
  white-space: pre-line;
}

.chat__message_type_in {
  background: rgba(0, 0, 0, .1);
}

.chat__message_type_out {
  text-align: right;
  background: rgba(0, 93, 255, .9);
  color: #fff;
}

.overlay__header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  height: 44px;
  text-align: center;
  background: #d9d9d9;
  line-height: 44px;
}

.overlay__content {
  padding-top: 44px;
  position: relative;
  height: 100%;
  overflow-y: auto;
  box-sizing: border-box;
}